doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='../public/css/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='/js/index.js')
    
  body
    block content
